$bg-principal: linear-gradient(to bottom, rgb(0, 0, 0), rgb(87, 60, 69));
$bg-secciones: linear-gradient(to bottom, hsl(206, 73%, 4%), rgb(173, 158, 162) );
$bg-letras:#ffb2c0;
$bg-encabezado: rgba(94, 76, 80, 0.1);
    
