.fondo {
    background: $bg-principal;
}
.fondo__secciones {
    background: $bg-secciones;
}
/*Encabezado index*/
.font-effect-3d-float{
    color: $bg-letras;
}
.encabezado {
    background-color: $bg-encabezado;
    

}